<p>Hello <%= @resource.email %>!</p>

<p>It's look like you asked to reset your password ? You can do it through the link below: </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you are not the one who request reset - sorry, man :(</p>
<p>This is not the the link, you are looking for.</p>
